
      <div class="col-xs-12 col-sm-6  col-md-4">
          <h1 class="text-center">Title</h1>
          <h2 class="text-center">Sub Title</h2>
          <img class="product-display-grid" src="https://www.teaenterprise.com/ProductImages/example_detailed_image.gif" alt="product detail">
          <p>Description
              <span class="price-tag">9.99</span>
          </p>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-4">
            <h1 class="text-center">Title</h1>
            <h2 class="text-center">Sub Title</h2>
            <img class="product-display-grid" src="https://www.teaenterprise.com/ProductImages/example_detailed_image.gif" alt="product detail">
            <p>Description
                <span class="price-tag">9.99</span>
            </p>
        </div>
        <div class=" col-xs-12 col-sm-6 col-md-4">
            <h1 class="text-center">Title</h1>
            <h2 class="text-center">Sub Title</h2>
            <img class="product-display-grid" src="https://www.teaenterprise.com/ProductImages/example_detailed_image.gif" alt="product detail">
            <p>Description
                <span class="price-tag">9.99</span>
            </p>
        </div>
